:root {
  --color-black: #000;
  --color-white: #eee;
  --color-gray: #444;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  z-index: 10;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-black);
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.header {
  background: var(--color-gray);
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
  animation: moveInTop 1s ease-out;
}

.header__text-box {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__img {
  height: 37rem;
  width: 37rem;
  border-radius: 50%;
}

.heading-primary {
  color: var(--color-white);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5.1rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  animation: moveInLeft 1s ease-out 0.73s;
  animation-fill-mode: backwards;
}

.heading-primary--sub {
  display: block;
  font-size: 2.3rem;
  font-weight: 900;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out 0.73s;
  animation-fill-mode: backwards;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--black {
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn--black::after {
  background-color: var(--color-black);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 1.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  html {
    font-size: 47.5%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (min-width: 1401px) {
  html {
    font-size: 62.5%;
  }
}
