---
interface Props {
  imgSrc: string
  technologies: Technology[]
  url: string
}

type Technology = 'TypeScript' | 'NestJS' | 'React' | 'ReactNative' | 'NextJS'

const { imgSrc, technologies, url }: Props = Astro.props
---

<div class="project-container" onclick={`window.open('${url}', '_blank')`}>
  <div class="background" style={`background-image: url(${imgSrc});`}></div>
  {
    technologies.includes('TypeScript') && (
      <img src="img/logo_typescript.png" class="project-image" />
    )
  }
  {
    technologies.includes('NestJS') && (
      <img src="img/logo_nestjs.png" class="project-image" />
    )
  }
  {
    technologies.includes('React') && (
      <img src="img/logo_react.png" class="project-image" />
    )
  }
  {
    technologies.includes('ReactNative') && (
      <img src="img/logo_react_native.png" class="project-image" />
    )
  }
  {
    technologies.includes('NextJS') && (
      <img src="img/logo_nextjs.png" class="project-image" />
    )
  }
  <svg
    class="out-svg"
    xmlns="http://www.w3.org/2000/svg"
    width="3em"
    height="3em"
    viewBox="0 0 24 24"
  >
    <path
      fill="#ffffff"
      d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h14v-7h2v7q0 .825-.587 1.413T19 21zm4.7-5.3l-1.4-1.4L17.6 5H14V3h7v7h-2V6.4z"
    >
    </path>
  </svg>
</div>

<style>
  .project-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    width: 50rem;
    margin: 2rem;
    border: solid var(--color-white);
    text-align: center;
    cursor: pointer;
  }

  .out-svg {
    opacity: 0;
    position: absolute;
    top: 5%;
    left: 90%;
    filter: drop-shadow(0px 0px 5px var(--color-black));
    transition: opacity 0.3s ease;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: filter 0.3s ease;
  }

  .project-container:hover .background {
    filter: blur(3px);
  }

  .project-image {
    position: relative;
    z-index: 2;
    height: 10rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .project-container:hover .project-image,
  .project-container:hover .out-svg {
    opacity: 1;
  }
</style>
