<section class="contact">
  <hr class="contact-divider" />
  <p>Phone: +34 618 97 63 31 | Email: josepdev23@gmail.com</p>
</section>

<style>
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100rem;
    max-width: 90%;
    color: var(--color-white);
  }

  .contact-divider {
    width: 100%;
    border-color: var(--color-gray);
  }

  .contact hr {
    margin: 2rem 0 0 0;
  }

  .contact p {
    margin: 2rem;
    font-size: 1.3rem;
  }
</style>
