<header class="header">
  <img class="header_img" src="img/me.png" />
  <h1 class="heading_primary">
    <span class="heading_name">Josep Ramon Ribera</span>
    <span class="heading_sub">Software Craftsman | Typescript Enjoyer</span>
  </h1>
</header>

<style>
  .header {
    height: 73vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_img {
    height: 21rem;
    width: 21rem;
    border: solid 0.4rem var(--color-white);
  }

  .heading_primary {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3rem;
  }

  .heading_name {
    font-size: 6rem;
    letter-spacing: 0.5rem;
    margin: 2rem 0;
  }

  .heading_sub {
    color: var(--color-yellow);
    font-size: 2.3rem;
    letter-spacing: 0.5rem;
  }

  @media only screen and (max-width: 1024px) {
    .header {
      flex-direction: column;
      height: 37vh;
    }

    .heading_primary {
      align-items: center;
      text-align: center;
    }

    .heading_name {
      font-size: 5rem;
      letter-spacing: 0.5rem;
      margin: 2rem 0;
    }

    .heading_sub {
      color: var(--color-yellow);
      font-size: 2.3rem;
      letter-spacing: 0.5rem;
    }
  }
</style>
