<header class="header">
  <div class="header__text-box">
    <div class="header_img_container">
      <div class="header_img"></div>
      <img class="header_img_icon" src="img/icon.png" />
    </div>
    <h1 class="heading-primary">
      <span class="heading-primary--main">Josep Ramon Ribera</span>
      <span class="heading-primary--sub">Software Craftsman</span>
    </h1>
  </div>
</header>

<style>
  .header {
    background: var(--color-gray);
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 79%, 0 96%);
  }

  .header__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

  .header_img_container {
    position: relative;
    height: 37rem;
    width: 37rem;
    max-width: 90vw;
    max-height: 90vw;
    border-radius: 50%;
    margin-top: 5.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_img {
    background-image: url(./img/me.jpg);
    background-size: contain;
    height: 37rem;
    width: 37rem;
    max-width: 90vw;
    max-height: 90vw;
    border-radius: 50%;
    position: absolute;
    transition: filter 0.3s ease;
  }

  .header_img_container:hover .header_img {
    filter: blur(3px);
  }

  .header_img_container:hover .header_img_icon {
    opacity: 1;
  }

  .header_img_icon {
    height: 23rem;
    width: 23rem;
    position: relative;
    filter: drop-shadow(5px 5px var(--color-white));
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .heading-primary {
    color: var(--color-white);
    backface-visibility: hidden;
    margin-bottom: 5.1rem;
  }

  .heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    margin: 2rem 0;
  }

  .heading-primary--sub {
    display: block;
    font-size: 2.3rem;
    letter-spacing: 1.75rem;
  }
</style>
