<section class="projects">
  <h1 class="projects-title">My cool projects</h1>
  <div class="projects-main">
    <div class="project-container">
      <img
        src="./img/project_price_comparator.png"
        alt="Price Comparator representative image"
      />
    </div>
    <div class="project-container">
      <img
        src="./img/project_alojamientos_upv.png"
        alt="Alojamientos UPV representative image"
      />
    </div>
    <div class="project-container">
      <img
        src="./img/project_software_chronicles.jpg"
        alt="Software Chronicles representative image"
      />
    </div>
    <div class="project-container">
      <img
        src="./img/project_pokearcade.jpg"
        alt="PokeArcade representative image"
      />
    </div>
  </div>
</section>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100rem;
    max-width: 90%;
  }

  .projects-title {
    color: var(--color-white);
    font-size: 3.7rem;
    margin: 2rem 0;
  }

  .projects-main {
    display: grid;
    grid-template-columns: auto auto;
  }

  .project-container {
    height: 30rem;
    width: 50rem;
    margin: 2rem;
    border: solid white;
    color: var(--color-white);
    text-align: center;
  }

  .project-container img {
    height: 100%;
    width: 100%;
  }

  @media (max-width: 1024px) {
    .projects-main {
      display: grid;
      grid-template-columns: auto;
    }
  }
</style>
