---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="My professional portfolio. Here you can see some of my projects that i developed in my free time. Don't doubt to check my github (JosepDev23)"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-black: #070007;
    --color-white: #ddd;
    --color-gray: #444;
    --color-light-gray: #777;
    --color-yellow: rgb(223, 223, 85);
    --color-purple: rgb(255, 99, 255);
    --color-dark-purple: rgb(63, 25, 63);
    --color-darkest-purple: rgb(32, 12, 32);
    --color-green: #00ff41;
  }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    z-index: 10;
  }

  html {
    font-size: 62.5%;
  }

  body {
    background: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      var(--color-darkest-purple),
      var(--color-black)
    );
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  @media only screen and (max-width: 600px) {
    html {
      font-size: 42%;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    html {
      font-size: 47.5%;
    }
  }

  @media only screen and (min-width: 1025px) and (max-width: 1400px) {
    html {
      font-size: 55%;
    }
  }

  @media only screen and (min-width: 1401px) {
    html {
      font-size: 62.5%;
    }
  }

  ::-webkit-scrollbar {
    width: 0;
  }
</style>
